<template name="layout">  
  <div class="container">    
      {{> header}}    
    <div id="main">      
        {{> yield}}    
    </div>  
  </div>
</template>


<!-- Usado para el ejemplo: modificacíon de sesión
<template name="layout">
  <div class="container">
    <header class="navbar navbar-default" role="navigation"> 
      <div class="navbar-header">
        <a class="navbar-brand" href="{{pathFor 'postsList'}}">{{pageTitle}}</a>
      </div>
    </header>
    <div id="main">
      {{> yield}}
    </div>
  </div>
</template>
-->